<template>
    <div class="movies">
        <h1>Movies</h1>
        <router-link to="/movies/create">New</router-link>
        <div>
            {{ message }}
        </div>
        <h3>Filmes de 2017</h3>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="movie.year==2017" v-for="(movie, index) in movies" :key='index'>
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{movie.year}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <h3>Filmes de Anos anteriores</h3>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="movie.year!=2017" v-for="(movie, index) in movies" :key='index'>
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{movie.year}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'MoviesIndex',
        data () {
            return {
                movies: [],
                message: ''
            }
        },

        created () {
            this.getData()
        },

        methods: {
            getData () {
                axios.get('http://localhost:8000/api/movies')
                    .then(response => {
                        this.movies = response.data
                    })
            }
        }

    }
</script>

<style>
    table {
        width: 100%;
    }
    tbody {
        text-align: center;
    }
    .movies {
        border-top: 1px solid #dddddd;
    }
</style>